form.add-user(action="/addUser", method="POST")
  div.mui-textfield.mui-textfield--float-label
    input.add-username(type="text", name="username", required)
    label Username
  div.mui-textfield.mui-textfield--float-label
    input.add-password(type="password", name="password", required)
    label Password
  div.mui-textfield.mui-textfield--float-label
    input.add-firstname(type="text", name="firstName", required)
    label First name
  div.mui-textfield.mui-textfield--float-label
    input.add-lastname(type="text", name="lastName", required)
    label Last name
  div.mui-select
    select.roles(name="role")
