extends ./layout/layout.jade

block title
  title Step 1

block content
  .container
    .controls.clearfix
      button.btn-dark-blue.show-task Show task
      .timer  
      button.btn-light-blue.right.next-task Next task
    .bar.clearfix
      .editors
        .editor#editorHtml
        .horizontal-divider
        .editor#editorCss
      .vertical-divider
      .results
        iframe(
          frameborder="0",
          class="js-result",
          sandbox="allow-forms allow-same-origin allow-scripts")
  #task-dialog.popup
    include ./includes/taskPopup

block scripts
  script(src='scripts/editor.js')
