extends ./layout/layout.jade

block content
  .bar.clearfix
    .editors
      .editor#editorHtml
      .horizontal-divider
      .editor#editorCss
    .vertical-divider
    .results
      iframe(
        frameborder="0",
        class="js-result",
        sandbox="allow-forms allow-same-origin allow-scripts")
    button.round-btn.next-task Next

  .to-do-block

block scripts
  script(src='scripts/editor.js')
