extends ./layout/layout.jade

block title
  title Step 1

block content
  .container
    .controls.clearfix
      button.btn-dark-blue.show-task Show task
      .timer
      .taskButtons.right
        button.btn-light-blue.prev-task Prev task
        button.btn-light-blue.next-task Next task
        button.btn-light-blue.finish-button Finish
    .bar.clearfix
      .editors
        .editor#editorHtml
        .horizontal-divider
        .editor#editorCss
      .vertical-divider
      .results
        iframe(
          frameborder="0",
          class="js-result",
          sandbox="allow-forms allow-same-origin allow-scripts")
  #task-dialog.popup
    include ./includes/taskPopup
  #info-dialog
    include ./includes/countDownPopup

block scripts
  script(src='scripts/editor.js')
