extends ./layout/layout.jade

block content
  if !user
    .start-info
      .logo
        img(src="/images/GUUC_Logo.png", alt="")
      .description.
        The first Gomel UI/UXD Competition for students
      button.btn-login.btn-dark-green Login
  else
    .start-info-logged
      | We are about to begin, be ready, stay cool
      <br>
      |Good Luck

  #login-popup.popup
    include ./includes/loginPopup
