extends ./layout/layout

block title 
  title Quiz

block content
  .container
    .quiz-task-info
      .forbidden
        |Forbidden selectors
        span.data
      .timer 00:00
    .html-wrapper
      table.html-code(cellspacing="0", cellpadding="0")
    .explanation
      div
        .needed-flag
        |element to choose
      div
        .incorrect-flag
        |incorrectly chosen
      div
        .correct-flag
        |correctly chosen
    .input-wrapper
      input.selector-value(type="text", placeholder="Type your answare")
      .forbidden-error.
        You can not use forbidden selectors

block scripts
  script(src="/scripts/quiz.js")
