extends ./layout/layout

block title
  title Quiz

block content
  .quiz-logo
    img(src="/images/cowboy.png", alt="")
  .quiz-message.
    Keep calm, cowboy. We are waiting for others

block scripts
  script socketIo.emit('ready');


