@import node_modules/font-awesome/scss/font-awesome
@import node_modules/muicss/lib/sass/mui-colors

$mui-primary-color: mui-color('teal', '500')

@import node_modules/muicss/lib/sass/mui

$footer-height: 60px
$content-padding: 20px

html, body
  margin: 0
  padding: 0
  height: 100%

.wrapper
  min-height: 100%
  padding-bottom: 70px
  box-sizing: border-box

.header
  .brand
    color: $mui-appbar-font-color
    text-decoration: none
    display: inline-block
    padding: 0 20px
    font-size: 20px
    vertical-align: middle

  >ul
    list-style: none
    display: inline-block
    vertical-align: middle
    >li
      float: left 
      >a
        color: $mui-appbar-font-color
        text-decoration: none
        display: inline-block
        padding: 0 20px

.content
  padding: 20px

.wrapper.editor-page
  height: 1px

  .content
    height: 100%
    box-sizing: border-box
    position: relative

.footer
  height: 60px
  margin-top: -61px
  background-color: #e0e0e0
  border-top: 1px solid #bdbdbd
  line-height: 60px
  padding-left: 20px
  font-size: 12px

.bar>div,
iframe
  height: 100%

.bar
  position: absolute
  top: $content-padding
  bottom: 70px
  left: $content-padding
  right: $content-padding

.clearfix:after
  content: " "
  display: table
  clear: both


iframe
  width: 100%

div.editor, iframe
  overflow: auto
  
div.editor
  height: 50%

div.editor:first-of-type
  border-bottom: 1px solid rgba(0, 0, 0, 0.3)
  box-sizing: border-box

div.editor:only-child
  height: 100%
  border: none

ul
  margin: 0
  padding: 0

.horizontal-divider
  position: absolute
  top: 50%
  left: 0
  right: 0
  margin-top: -4px
  height: 8px
  cursor: ns-resize
  z-index: 2

.vertical-divider
  cursor: ew-resize
  position: absolute
  top: 0
  bottom: 0
  left: 50%
  width: 8px
  margin-left: -4px
  z-index: 2

.editors, .results
  width: 50%
  float: left

.editors
  position: relative

.results
  position: relative
  border-left: 1px solid rgba(0, 0, 0, 0.3)
  box-sizing: border-box

  .overlayer
    position: absolute
    top: 0
    left: 0
    bottom: 0
    right: 0

.right
  float: right

.left
  float: left

.next-task
  position: absolute
  bottom: 10px
  right: 10px

.to-do-block
  position: fixed
  left: 20px
  bottom: 75px
  background: rgba(0, 0, 0, 0.5)
  z-index: 5
  color: white
  padding: 20px

//****Popup****

.task-popup
  height: 200px
  width: 400px

//****End popup****

.round-btn
  background-color: black
  color: white
  box-shadow: 0 1px 8px black
  border: none
  width: 50px
  height: 50px
  line-height: 50px
  text-align: center
  border-radius: 50%
  cursor: pointer

.remove-btn, .edit-btn
  background: transparent
  border: none

a.edit-btn
  color: black

//***Quiz board****
.participants-list
  width: 100%

  tr
    transition: background-color 1s

.selector-length
  margin-left: 10px

.board-task-info
  >div
    display: inline-block
    span
      margin-left: 5px
      font-weight: bold

  .admin-timer
    margin-left: 20px

//***end quiz board****

//***Common results page***
.total-results

  .task-mark
    cursor: pointer

.total-results-first-step
  margin-bottom: 20px

// Popup
.ui-widget-overlay
  background-color: rgba(0, 0, 0, 0.8)

.ui-dialog, .ui-dialog-titlebar, .ui-dialog-buttonpane
  background-color: white
  border: none
  border-radius: 0
  padding: 0

.ui-widget-content, .ui-dialog-titlebar
  color: black

.ui-dialog .ui-dialog-titlebar-close
  display: none

.ui-dialog
  .ui-dialog-content
    overflow: visible

  .ui-dialog-buttonset
    button
      background: none
      color: $mui-primary-color
      border-radius: 0
      border: none
      text-transform: uppercase

.popup-actions
  text-align: right
  button
    color: $mui-primary-color

#removeConfirmationDialog
  >div
    display: inline-block

  .icon
    color: $mui-primary-color
    margin-right: 10px

// Edit tasks page
.task-info
  .common-info, .code-editor
    width: 50%
    float: left
    height: 350px

.code-editor
  height: 500px
  position: relative

  .bar
    top: 0
    bottom: 0
    left: 0
    right: 0
// end edit tasks page

.mui-table
  table-layout: fixed

// Quiz results page
.scrollable-table
  border-right: 1px solid $mui-divider-color
  overflow-x: auto
  overflow-y: visible
  .mui-table
    tr
      th, td
        border: 1px solid $mui-divider-color

      th
        width: 500px
        padding: 0 10px
        text-align: center

        &:last-child
          border-right: none
          width: 200px

        &:first-child
          width: 300px

        &:not(:first-child):not(:last-child)
          padding: 0

      td
        &:last-child
          border-right: none

  .first-step
    tr
      th
        >div
          div
            width: 50%

  .total-results
    tr
      th
        width: 150px

      td
        input
          display: inline-block
          width: 100%

// Settings page
.mui-textfield.hide-block
  display: none

.save-settings 
  h3
    border-bottom: 1px solid $mui-divider-color

.load-file
  margin-right: 10px

.status-popup
  background-color: white
  position: fixed
  top: 80px
  right: 100px
  padding: 20px
  display: none

  >div
    display: inline-block
    vertical-align: middle

  .icon
    margin-right: 10px

    .fa-check
      color: mui-color('green', '500')

    .fa-remove
      color: mui-color('red', '500');
