doctype html
html
  head
    block title
      title GUUC
    //- link(rel="shortcut icon", href="/images/favicon.ico", type="image/png")
    link(rel="stylesheet", href="/styles/lib/jquery-ui.min.css")
    link(rel="stylesheet", href="/styles/styles.css")
    block link
  body(id= mainPage ? 'main-page': '')
    if user
      .header
        .container
          a.brand(href="/") Guuc
          block header
            ul
              case user.role.name
                when "admin"
                  li
                    a(href="/marks") Marks
                  li.dropdown
                    a(href="#", data-toggle="dropdown") Results
                      <span class="caret"></span>
                    ul.dropdown-menu
                      li
                        a(href="/firstStepResults") Step 1
                      li
                        a(href="/quizResults") Step 2
                  li
                    a(href="/users") Users
                  li.dropdown
                    a(href="#", data-toggle="dropdown") Tasks
                      <span class="caret"></span>
                    ul.dropdown-menu
                      li
                        a(href="/firstStepTasks") Step 1
                      li
                        a(href="/quizStepTasks") Step 2
                  li
                    a.start-first-step(href="#") Start step 1
                  li
                    a(href="/quizBoard") CSS Quiz board
          .logout-section.right
            span.user= user.username
            a(href="/logout") Logout

    .content(class= contentClass ? contentClass : '')
      block content

    script(src="/socket.io/socket.io.js")
    script var socketIo = io()
    script(src="/scripts/main.js")
    block scripts
